/* TODO
    RESPONSIVE
*/

/* --------------------- */
/* -------Variables------- */
/* --------------------- */
:root {
    --postionYGameArea: 0;
    --heightGameArea: 520px;
    --positionYGameMenu: calc(var(--postionYGameArea) + var(--heightGameArea));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 58, 58);
    font-family: roboto, arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

.wrapper .gameArea,
.wrapper .gameMenu {
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 14px black;
    border: 1px solid;
}

/* --------------------- */
/* -------Game area------- */
/* --------------------- */

.wrapper .gameArea {
    overflow: hidden;
    height: var(--heightGameArea);
    top: var(--postionYGameArea);
    background-color: rgb(207, 207, 207);
    margin-top: 10px;
}

/* --------------------- */
/* --Objects of gamearea-- */
/* --------------------- */

.gameArea i {
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
}

.gameArea i:active {
    cursor: grabbing;
}

.gameArea .fa-solid {
    margin: 10px;
}

.gameArea .fa-house {
    font-size: 120px;

}

.gameArea .fa-car {
    font-size: 60px;
}

.gameArea .fa-person {
    font-size: 80px;
}

/* --------------------- */
/* -------Game menu------- */
/* --------------------- */

.wrapper .gameMenu {
    display: flex;
    height: 240px;
    top: var(--positionYGameMenu);
    background-color: rgb(194, 144, 111);
    margin-bottom: 10px;
}

.gameMenu .upgrades,
.gameMenu .counter {
    width: 50%;
    height: 100%;
    text-transform: uppercase;
    font-size: 24px;
}

/* --------------------- */
/* -------Counter------- */
/* --------------------- */

.gameMenu .counter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gameMenu .counter button {
    position: relative;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgb(211, 92, 13);
    box-shadow: 0 3px rgba(145, 84, 41, 0.425);
    font-size: 24px;
    font-weight: bold;
}

.gameMenu .counter button:hover {
    background-color: rgb(204, 121, 65);
}

.gameMenu .counter button:active {
    background-color: rgb(204, 121, 65);
    box-shadow: 0 1px black;
    transform: translateY(4px);
}

.gameMenu .counter p {
    font-weight: bold;
}

.gameMenu .counter p span {
    font-weight: normal;
    color: green;
}

.gameMenu .fa-dollar-sign {
    color: rgb(255, 196, 0);
}

/* --------------------- */
/* -------Upgrades------- */
/* --------------------- */

.gameMenu .upgrades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.upgrades .headerUpg {
    flex-basis: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.upgrades .upg {
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
}

.upg .cst {
    text-align: center;
}

.upgrades img {
    opacity: 0.7;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
}