/* --------------------- */
/* -------VARIABLES------- */
/* --------------------- */
:root {
    --postionYGameArea: 0;
    --heightGameArea: 520px;
    --heightGameMenu: 240px;
    --positionYGameMenu: calc(var(--postionYGameArea) + var(--heightGameArea));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(58, 58, 58);
    font-family: 'roboto', arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

.wrapper .gameArea,
.wrapper .gameMenu {
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 14px black;
    border: 1px solid;
}

/* --------------------- */
/* -------GAME AREA------- */
/* --------------------- */

.wrapper .gameArea {
    overflow: hidden;
    height: var(--heightGameArea);
    top: var(--postionYGameArea);
    background-color: rgb(207, 207, 207);
    margin-top: 10px;
}

/* ---------------------- */
/* --OBJECTS OF GAME AREA-- */
/* ---------------------- */

.gameArea i {
    position: absolute;
    left: 45%;
    bottom: 50%;
    cursor: grab;
}

.gameArea i:active {
    cursor: grabbing;
}

.gameArea .fa-solid {
    margin: 10px;
}

.gameArea .fa-house {
    font-size: 120px;

}

.gameArea .fa-car {
    font-size: 60px;
}

.gameArea .fa-person {
    font-size: 80px;
}

/* --------------------- */
/* -------GAME MENU------- */
/* --------------------- */

.wrapper .gameMenu {
    display: flex;
    height: var(--heightGameMenu);
    top: var(--positionYGameMenu);
    background-color: rgb(194, 144, 111);
    margin-bottom: 10px;
}

.gameMenu .upgrades,
.gameMenu .counter {
    width: 50%;
    height: 100%;
    text-transform: uppercase;
    font-size: 24px;
}

/* --------------------- */
/* -------COUNTER------- */
/* --------------------- */

.gameMenu .counter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gameMenu .counter .earner {
    position: relative;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 20px;
    border-color: black;
    background-color: rgb(211, 92, 13);
    box-shadow: 0 3px rgba(145, 84, 41, 0.425);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.gameMenu .counter .earner:hover {
    background-color: rgb(204, 121, 65);
}

.gameMenu .counter .earner:active {
    background-color: rgb(204, 121, 65);
    box-shadow: 0 1px black;
    transform: translateY(4px);
}

.gameMenu .counter p {
    font-weight: bold;
}

.gameMenu .counter p span {
    font-weight: normal;
    color: green;
}


.gameMenu .fa-dollar-sign {
    color: rgb(255, 196, 0);
}


/* --------------------- */
/* -------UPGRADES------- */
/* --------------------- */

.gameMenu .upgrades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.upgrades .headerUpg {
    flex-basis: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.upgrades .upg {
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
}

.upg .cst {
    text-align: center;
}

.upgrades img {
    opacity: 0.7;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
}

/* --------------------- */
/* -------RESPONSIVE------- */
/* --------------------- */

@media (max-height: 800px) {

    :root {
        --heightGameArea: 450px;
        --heightGameMenu: 200px;
    }

    .gameMenu .upgrades,
    .gameMenu .counter {
        font-size: 20px
    }

    .gameMenu .counter .earner {
        padding: 10px 25px;
        font-size: 20px;
    }

    .upgrades .upg,
    .upgrades img {
        width: 60px;
        height: 60px;
    }
}

@media (max-height: 670px) {
    :root {
        --heightGameArea: 400px;
        --heightGameMenu: 160px;
    }
}

@media (max-height: 580px) {
    :root {
        --heightGameArea: 320px;
        --heightGameMenu: 160px;
    }
}

@media (max-width: 600px) {

    .gameMenu .upgrades,
    .gameMenu .counter {
        font-size: 16px
    }

    .gameMenu .counter .earner {
        padding: 8px 16px;
        font-size: 16px;
    }
}

@media(max-width: 500px) {

    .upgrades .upg,
    .upgrades img {
        width: 50px;
        height: 50px;
    }
}

@media(max-width: 385px) {

    :root {
        --heightGameArea: 260px;
        --heightGameMenu: 160px;
    }

    .gameMenu .upgrades,
    .gameMenu .counter {
        font-size: 14px
    }

    .gameMenu .counter .earner {
        padding: 4px 12px;
        font-size: 14px;
    }

    .upgrades .upg,
    .upgrades img {
        width: 40px;
        height: 40px;
    }
}